<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - balta.io</title>

    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="balta.io">

    <!--Twitter Share-->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ViewData["Url"]"/>
    <meta name="twitter:creator" content="@@balta_io"/>
    <meta name="twitter:title" content="@ViewData["Title"]"/>
    <meta name="twitter:description" content="@ViewData["Description"]"/>
    <meta name="twitter:image" content="@ViewData["Image"]"/>

    <!--Facebook/LinkedIn Share-->
    <meta property="og:url" content="@ViewData["Url"]"/>
    <meta property="og:title" content="@ViewData["Title"] - balta.io"/>
    <meta property="og:description" content='@ViewData["Description"]'/>
    <meta property="og:image" content='@ViewData["Image"]'/>

    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico"/>

    @{ await Html.RenderPartialAsync("Partials/_FontsPartial"); }
    @{ await Html.RenderPartialAsync("Partials/_StylesPartial"); }

</head>
<body>

<main>
    @RenderBody()
</main>

<div class="back-top">
    <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
</div>

@{ await Html.RenderPartialAsync("Partials/_ScriptsPartial"); }

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>