@model EditResidentViewModel

@{
    ViewData["Title"] = "Editar";
}

<div class="container mt-2" style="">
    <form asp-action="Create" method="post">
        <!-- <!-- start row one -->
        <input asp-for="Id" type="text" hidden placeholder="">
        <div class="row mt-2">
            <div class="col-7">
                <label asp-for="PersonId"></label>
                <select asp-for="PersonId" width="100%" class="form-control">
                    <option selected>Selecione</option>
                    @foreach (var person in Model.Persons)
                    {
                        <option value="@person.Id">@person.Name</option>
                    }
                </select>
                <span asp-validation-for="PersonId"></span>
            </div>
            <div class="col-2">
                <label asp-for="BedroomId"></label>
                <select asp-for="BedroomId" width="100%" class="form-control">
                    <option selected>Selecione</option>
                    @foreach (var bedroom in Model.Bedrooms)
                    {
                        <option value="@bedroom.Id">Quarto @bedroom.Number</option>
                    }
                </select>
                <span asp-validation-for="BedroomId"></span>

            </div>
            <div class="col-3">
                <div>
                    <label asp-for="Profession"></label>
                    <input asp-for="Profession" type="text" class="form-control" width="100%" placeholder="">
                    <span asp-validation-for="Profession" class="text-danger" />
                </div>
            </div>
        </div>
        <!-- End row one -->
        <!-- <!-- start row two -->
        <div class="row mt-2">
            <div class="col-6">
                <div>
                    <label asp-for="Father"></label>
                    <input asp-for="Father" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="Father" class="text-danger" />
                </div>
            </div>
            <div class="col-6">
                <div>
                    <label asp-for="Mother"></label>
                    <input asp-for="Mother" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="Mother" class="text-danger" />
                </div>
            </div>
        </div>
        <!-- End row two -->
        <!-- <!-- start row three -->
        <div class="row mt-2">
            <div class="col-3">
                <div>
                    <label asp-for="AdmissionDate"></label>
                    <input asp-for="AdmissionDate" type="date" class="form-control" placeholder="">
                    <span asp-validation-for="AdmissionDate" class="text-danger" />
                </div>
            </div>
            <div class="col-3">
                <div>
                    <label asp-for="DepartureDate"></label>
                    <input asp-for="DepartureDate" type="date" class="form-control" placeholder="">
                    <span asp-validation-for="DepartureDate" class="text-danger" />
                </div>
            </div>
            <div class="col-3">
                <div>
                    <label asp-for="EducationLevel"></label>
                    <select asp-for="EducationLevel" class="form-control">
                        <option selected>Selecione</option>
                        <option value="0">Não Alfatizado(a)</option>
                        <option value="1">Fundamental Incompleto</option>
                        <option value="2">Fundamental Completo</option>
                        <option value="3">Medio Incompleto</option>
                        <option value="4">Médio Completo</option>
                        <option value="5">Graduação</option>
                        <option value="6">Pós-Graduação</option>
                        <option value="7">Mestrado</option>
                        <option value="8">Doutorado</option>
                    </select>
                    <span asp-validation-for="EducationLevel" class="text-danger" />
                </div>
            </div>
            <div class="col-3">
                <div>
                    <label asp-for="MaritalStatus"></label>
                    <select asp-for="MaritalStatus" class="form-control">
                        <option selected>Selecione</option>
                        <option value="0">Solteiro(a)</option>
                        <option value="1">Casado(a)</option>
                        <option value="2">Divorciado(a)</option>
                        <option value="3">Viúvo(a)</option>
                    </select>
                    <span asp-validation-for="MaritalStatus" class="text-danger" />
                </div>
            </div>
        </div>
        <!-- End row three -->
        <!-- <!-- start row four -->
        <div class="row mt-2">
            <div class="col-4">
                <div>
                    <label asp-for="HealthInsurance"></label>
                    <input asp-for="HealthInsurance" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="HealthInsurance" class="text-danger" />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <label asp-for="SUS"></label>
                    <input asp-for="SUS" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="SUS" class="text-danger" />
                </div>
            </div>
            <div class="col-4">
                <div>
                    <label asp-for="VoterRegCardNumber"></label>
                    <input asp-for="VoterRegCardNumber" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="VoterRegCardNumber" class="text-danger" />
                </div>
            </div>
        </div>
        <!-- End row four -->
        <!-- <!-- start row five -->
        <div class="row mt-2">
            <div class="col-12">
                <div>
                    <label asp-for="Note"></label>
                    <input asp-for="Note" type="text" class="form-control" placeholder="">
                    <span asp-validation-for="Note" class="text-danger" />
                </div>
            </div>
        </div>
        <!-- End row five -->
        <div>
            <hr />
            <h1>Comorbidades</h1>
            <ul>
                @foreach (var comorbidity in Model.Comorbidities)
                {
                    <li>@comorbidity.Description</li>
                }
            </ul>
        </div>
        
        <button class="btn-primary m-3 " type="submit" style="height: 30px;">Salvar</button>
    </form>
</div>
