@model OldCare.Contexts.AccountContext.UseCases.Authenticate.Request
@{
    Layout = null;
    ViewData["Title"] = "OldCare";
    ViewData["Description"] = "Instituição de permanencia para idosos";
    ViewData["Keywords"] = "casa, repouso, convivencia, social";
    ViewData["URL"] = "https://oldcare.azurewebsites.net";
    ViewData["Image"] = "/media/images/banners/index_banner.png";
}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OldCare</title>

    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta name="author" content="OldCare">

    <!--Twitter Share-->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@ViewData["Url"]"/>
    <meta name="twitter:creator" content="@@Oldcare"/>
    <meta name="twitter:title" content="@ViewData["Title"]"/>
    <meta name="twitter:description" content="@ViewData["Description"]"/>
    <meta name="twitter:image" content="@ViewData["Image"]"/>

    <!--Facebook/LinkedIn Share-->
    <meta property="og:url" content="@ViewData["Url"]"/>
    <meta property="og:title" content="@ViewData["Title"] - OldCare"/>
    <meta property="og:description" content='@ViewData["Description"]'/>
    <meta property="og:image" content='@ViewData["Image"]'/>

    <link rel="icon" type="image/x-icon" href="/media/images/icons/oldcare_logo.ico"/>
    <link rel="shortcut icon" type="image/x-icon" href="/media/images/icons/oldcare_logo.ico"/>

    <partial name="Partials/_StylesPartial"/>
</head>
<body class="font-poppins">

<main class="login-background d-flex justify-content-center align-items-center">
    <section class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row w-100 d-flex justify-content-center align-items-center">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                <img alt="oldcare-logo" class="img img-fluid" src="media/images/logos/oldcare-logo.png" width="90%"/>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                <div class="wrapper">
                    <div class="logo">
                        <img alt="oldcare-logo" src="media/images/logos/oldcare-logo.png">
                    </div>
                    <div class="text-center name">
                        OldCare
                    </div>
                    <form asp-action="Login" class="p-3 mt-3" method="post">
                        <div class="form-field d-flex align-items-center">
                            <span class="far fa-user"></span>
                            <input asp-for="Email" type="text" value="nome@mail.com">
                        </div>
                        <div class="form-field d-flex align-items-center">
                            <span class="fas fa-key"></span>
                            <input asp-for="Password" type="password" placeholder="senha" value="senha">
                        </div>

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <button type="submit" class="btn mt-3">Entrar</button>
                    </form>
                    <div class="text-center fs-6">
                        <a href="#">Esqueceu sua senha?</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="back-top">
    <i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i>
</div>
</body>
</html>